.main-wrapper .section_login {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(123.85deg, #2f3549 34.26%, #080d20 54.79%);
}

.main-wrapper .section_login .wrapper {
    width: 100%;
}

.main-wrapper .section_login h3 {
    text-align: center;
    line-height: 40px;
}

.main-wrapper .section_login .form-control {
    width: 100%;
    padding: 8px 18px;
    border: 2px solid #edf5f7;
    border-radius: 6px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    outline: none;
    -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main-wrapper .section_login .form-control:focus {
    -webkit-box-shadow: inset 0 0 5px 1px rgba(68,172,255,0.2);
    box-shadow: inset 0 0 5px 1px rgba(68,172,255,0.2);
}

.main-wrapper .section_login .form-control::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
}

.main-wrapper .section_login .form-control::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
}

.main-wrapper .section_login .form-control:-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
}

.main-wrapper .section_login .form-control:-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
}

.main-wrapper .section_login .box-field {
    margin-bottom: 30px;
}

.main-wrapper .section_login .box-field:last-child {
    margin-bottom: 0;
}

.main-wrapper .section_login .box-field-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-wrapper .section_login .box-field-wrap_1 {
    margin-bottom: 15px;
}

.main-wrapper .section_login .box-field-wrap_1 .box-field {
    width: 100%;
}

.main-wrapper .section_login .box-field-wrap_2 {
    margin-bottom: 30px;
}

.main-wrapper .section_login .box-field-wrap_2 .box-field {
    width: calc(50% - 15px);
    margin-bottom: 0;
}

.main-wrapper .section_login .box-field-wrap_2_mod {
    margin-bottom: 30px;
}

.main-wrapper .section_login .box-field-wrap_2_mod .box-field {
    margin-bottom: 0;
}

.main-wrapper .section_login .box-field-wrap_2_mod .box-field:first-child {
    width: calc(15% - 15px);
}

.main-wrapper .section_login .box-field-wrap_2_mod .box-field:last-child {
    width: calc(85% - 15px);
}

.main-wrapper .section_login .checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.main-wrapper .section_login .checkbox + label {
    position: relative;
    padding: 0 0 0 35px;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    cursor: pointer;
}

.main-wrapper .section_login .checkbox + label a {
    text-decoration: underline;
}

.main-wrapper .section_login .checkbox + label a:hover {
    text-decoration: none;
}

.main-wrapper .section_login .checkbox + label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #edf5f7;
    border-radius: 4px;
    -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main-wrapper .section_login .checkbox + label:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 3px;
    width: 20px;
    height: 10px;
    background: url("../img/icons/check_icon_white.svg") center no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main-wrapper .section_login .checkbox:checked + label:before {
    background-color: #44acff;
    border-color: #44acff;
}

.main-wrapper .section_login .checkbox:checked + label:after {
    opacity: 1;
}

.main-wrapper .login-wrap {
    max-width: 600px;
    margin: 0 auto;
}

.main-wrapper .login-wrap_mod {
    max-width: 770px;
}

.main-wrapper .login-logo {
    max-width: 160px;
    margin: 0 auto 50px;
}

.main-wrapper .login-block {
    padding: 60px 80px;
    background-color: #fff;
    -webkit-box-shadow: 0px 20px 50px rgba(49,87,125,0.25);
    box-shadow: 0px 20px 50px rgba(49,87,125,0.25);
    border-radius: 10px;
}

.main-wrapper .login-block h3 {
    margin-bottom: 40px;
}

.main-wrapper .login-forgot {
    text-align: right;
}

.main-wrapper .login-forgot a {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #44acff;
    text-decoration: underline;
}

.main-wrapper .login-forgot a:hover {
    text-decoration: none;
}

.main-wrapper .login-check {
    margin-bottom: 10px;
}

.main-wrapper .login-check:last-child {
    margin-bottom: 0;
}

.main-wrapper .login-check-wrap {
    margin-bottom: 20px;
}

.main-wrapper .login-check-wrap_mod {
    margin-bottom: 30px;
}

.main-wrapper .login-btn {
    margin-bottom: 20px;
}

.main-wrapper .login-btn button {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: #44acff;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main-wrapper .login-btn button:hover {
    background-color: #57b4ff;
}

.main-wrapper .login-btn_small {
    max-width: 200px;
    margin: 0 auto;
}

.main-wrapper .login-reg-link {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.main-wrapper .login-reg-link a {
    text-decoration: underline;
}

.main-wrapper .login-reg-link a:hover {
    text-decoration: none;
}

.main-wrapper .login-log-link {
    margin-top: 30px;
    color: #fff;
}

.main-wrapper .page-wrap {
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
}

.main-wrapper .page-wrap_mod {
    max-width: 480px;
}

.main-wrapper .page-wrap .login-logo {
    margin-bottom: 80px;
}

.main-wrapper .page-wrap h2 {
    margin-bottom: 20px;
    line-height: 40px;
    color: #fff;
}

.main-wrapper .page-wrap p {
    margin-bottom: 60px;
    color: #fff;
}

.main-wrapper .page-wrap .btn {
    min-width: 200px;
    border-color: #fff;
    color: #fff;
}

.main-wrapper .page-wrap .btn:hover {
    border-color: #44acff;
}

.main-wrapper .page-title {
    margin-bottom: 25px;
    font-weight: 200;
    font-size: 220px;
    line-height: 200px;
    color: #44acff;
}

@media (max-width: 767px) {
    .main-wrapper .section_login h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .main-wrapper .section_login .box-field {
        margin-bottom: 15px;
    }

    .main-wrapper .section_login .box-field-wrap_2 {
        margin-bottom: 15px;
    }

    .main-wrapper .section_login .box-field-wrap_2 .box-field {
        width: 100%;
        margin-bottom: 15px;
    }

    .main-wrapper .section_login .box-field-wrap_2 .box-field:last-child {
        margin-bottom: 0;
    }

    .main-wrapper .section_login .box-field-wrap_2_mod {
        margin-bottom: 15px;
    }

    .main-wrapper .section_login .box-field-wrap_2_mod .box-field:first-child {
        width: calc(55px - 5px);
    }

    .main-wrapper .section_login .box-field-wrap_2_mod .box-field:first-child .form-control {
        padding: 8px 10px;
    }

    .main-wrapper .section_login .box-field-wrap_2_mod .box-field:last-child {
        width: calc(100% - 60px);
    }

    .main-wrapper .section_login .checkbox + label {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .section_login .checkbox + label:before {
        top: -2px;
    }

    .main-wrapper .section_login .checkbox + label:after {
        top: 5px;
    }

    .main-wrapper .section_login .form-control {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .section_login .form-control::-webkit-input-placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .section_login .form-control::-moz-placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .section_login .form-control:-moz-placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .section_login .form-control:-ms-input-placeholder {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .login-block {
        padding: 30px;
    }

    .main-wrapper .login-block h3 {
        margin-bottom: 30px;
    }

    .main-wrapper .login-forgot {
        margin-bottom: 10px;
    }

    .main-wrapper .login-forgot a {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .login-reg-link {
        font-size: 15px;
        line-height: 20px;
    }

    .main-wrapper .page-title {
        font-size: 120px;
        line-height: 120px;
    }
}
